<header class="header-container">
  <p-dropdown
    [options]="allUsers"
    [(ngModel)]="currentUser"
    optionLabel="name"
    placeholder="Select a User"
    (ngModelChange)="changeActiveUser()"
    [virtualScroll]="true"
    [virtualScrollItemSize]="40"
    [style]="{ minWidth: '100%' }"
  >
  </p-dropdown>

  <div class="flex-row">
    <div class="parent-container">
      <button (click)="toggleDisplay()">
        <mat-icon class="icon-display">notifications_none</mat-icon>
      </button>
      <span class="counter" *ngIf="unreadCount > 0">{{ unreadCount }}</span>
    </div>
    <span class="profile-logo" *ngIf="currentUser">{{ ProfileName }}</span>
  </div>
</header>

<app-notification
  *ngIf="showNotification()"
  (close)="refreshNotifications($event)"
></app-notification>
