<header class="header-container">
  <!-- <app-select-component [label]="'Select User'" [data]="users" [displayKey]="'name'" [valueKey]="'employeeCode'">
    <ng-template let-item>
      <div class="custom-option">
        <strong>{{ item.name }}</strong>
      </div>
    </ng-template>
  </app-select-component> -->

  <p-dropdown
    [options]="allUsers"
    [(ngModel)]="currentUser"
    optionLabel="name"
    placeholder="Select a User"
    (ngModelChange)="changeActiveUser()"
  >
    <ng-template pTemplate="selectedItem">
      <div class="user-selected-item" *ngIf="currentUser">
        <div>{{ currentUser.name }}</div>
      </div>
    </ng-template>
    <ng-template let-user pTemplate="item">
      <div class="user-item">
        {{ "#" + user.employeeCode + "-" + user.name }}
      </div>
    </ng-template></p-dropdown
  >

  <div class="flex-row">
    <div class="parent-container">
      <button (click)="toggleDisplay()" >
        <mat-icon class="icon-display">notifications_none</mat-icon>
      </button>
      <span class="counter" *ngIf="unreadCount>0" >{{unreadCount}}</span>
    </div>
    <span class="profile-logo" *ngIf="currentUser">{{ ProfileName }}</span>
  </div>
</header>

<app-notification *ngIf="showNotification()" (close)="refreshNotifications($event)" ></app-notification>
