.header-container{
    padding:6px 16px;
    background-color: #F9FAFB;
    width: 100%;
    border-bottom: 1px solid #E8EBED;
    display: flex;
    gap:8px;
    align-items: center;
    justify-content: flex-end;
}